In [4]:
import os
import pandas as pd
from pycaret.regression import (
    setup, compare_models, create_model, tune_model, finalize_model,
    predict_model, save_model, plot_model, evaluate_model, pull
)

# Ensure a models/ folder for artifacts
os.makedirs("models", exist_ok=True)

In [14]:
df = pd.read_csv("melbourne_cleaned.csv")
df.head()

,Suburb,Address,Rooms,Type,Price,Method,Seller,Date,Distance,Postcode,...,CouncilArea,Latitude,Longitude,Region,Propertycount,LogPrice,SaleYear,SaleMonth,PropertyAge,Price_per_sqm
0,Airport West,154 Halsey Rd,3,t,840000,PI,Nelson,2023-09-03,13.5,3042,...,Moonee Valley,-37.7180,144.8780,Western Metropolitan,3464,13.641158,2023,9,7.0,3733.333333
1,Albert Park,105 Kerferd Rd,2,h,1275000,S,hockingstuart,2023-09-03,3.3,3206,...,Port Phillip,-37.8459,144.9555,Southern Metropolitan,3280,14.058458,2023,9,123.0,15548.780488
2,Albert Park,85 Richardson St,2,h,1455000,S,Thomson,2023-09-03,3.3,3206,...,Port Phillip,-37.8450,144.9538,Southern Metropolitan,3280,14.190517,2023,9,NaN,NaN
3,Alphington,6 Smith St,4,h,2000000,S,Brace,2023-09-03,6.4,3078,...,Darebin,-37.7707,145.0318,Northern Metropolitan,2211,14.508658,2023,9,93.0,7604.562738
4,Alphington,5/6 Yarralea St,3,h,1110000,S,Jellis,2023-09-03,6.4,3078,...,Yarra,-37.7854,145.0325,Northern Metropolitan,2211,13.919871,2023,9,10.0,NaN

In [17]:
import inspect
from pycaret.regression import setup

bin_candidates = [c for c in ['Distance','Landsize','BuildingArea','PropertyAge'] if c in df.columns]

base_params = dict(
    data=df,
    target="Price",
    session_id=42,
    fold=5,
    normalize=True,
    transform_target=True,
    remove_multicollinearity=True,
    multicollinearity_threshold=0.95,
    feature_interaction=True,
    numeric_imputation="median",
    categorical_imputation="mode",
    ignore_features=[c for c in ['Address','Seller','Date','LogPrice','Price_per_sqm','Postcode'] if c in df.columns],
    # turn OFF PyCaret â†” MLflow logging to avoid the crash:
    log_experiment=False,
    log_plots=False,
    log_profile=False,
    log_data=False,
)

maybe_params = {
    "unknown_categorical_method": "least_frequent",
    "bin_numeric_features": bin_candidates if bin_candidates else None,
}

sig = inspect.signature(setup)
params = {k:v for k,v in {**base_params, **maybe_params}.items() if (v is not None and k in sig.parameters)}
exp = setup(**params)
print("PyCaret setup complete (logging disabled to avoid MLflow conflict).")

PyCaret setup complete (logging disabled to avoid MLflow conflict).

In [18]:
from pycaret.regression import compare_models, tune_model, finalize_model, save_model

top3 = compare_models(n_select=3, sort="RMSE")
best = top3[0]
tuned = tune_model(best, optimize="RMSE")
final_model = finalize_model(tuned)
save_model(final_model, "models/melbourne_price_pipeline")
print(" Saved retrained pipeline.")

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).
Transformation Pipeline and Model Successfully Saved
 Saved retrained pipeline.

In [19]:
import mlflow
import mlflow.sklearn
from pycaret.regression import predict_model, pull

mlflow.set_experiment("melb_price_exp")

with mlflow.start_run(run_name="manual_retrain_logging"):
    mlflow.log_param("cv_folds", 5)
    mlflow.log_param("normalize", True)
    mlflow.log_param("feature_interaction", True)
    mlflow.log_param("ignored_features", "Address,Seller,Date,LogPrice,Price_per_sqm,Postcode")

    # Log holdout metrics (best available from PyCaret last table)
    try:
        results_tbl = pull()
        for metric in ["MAE","MSE","RMSE","R2","MAPE"]:
            if metric in results_tbl.columns:
                val = results_tbl[metric].min() if metric != "R2" else results_tbl[metric].max()
                mlflow.log_metric(f"holdout_{metric}", float(val))
    except Exception as e:
        print(f"(Info) Could not pull metrics table: {e}")

    # Log model artifact
    mlflow.sklearn.log_model(final_model, artifact_path="melbourne_price_model")

    # Optional: register if your tracking URI has a registry backend
    try:
        mlflow.register_model(
            f"runs:/{mlflow.active_run().info.run_id}/melbourne_price_model",
            name="MelbourneHousePriceModel"
        )
        print("Attempted MLflow registration.")
    except Exception as e:
        print(f"(Info) Model registry not available here: {e}")

print(" Manual MLflow logging done. View with:  mlflow ui --port 5000")

2025/08/27 00:17:38 WARNING mlflow.models.model: `artifact_path` is deprecated. Please use `name` instead.
2025/08/27 00:17:52 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.
Registered model 'MelbourneHousePriceModel' already exists. Creating a new version of this model...
2025/08/27 00:17:52 WARNING mlflow.tracking._model_registry.fluent: Run with id a9011aa1f06a422fb9fc757132e46f83 has no artifacts at artifact path 'melbourne_price_model', registering model based on models:/m-a8d4afc6714345488ce169f0d679c43c instead
Created version '2' of model 'MelbourneHousePriceModel'.

Attempted MLflow registration.
 Manual MLflow logging done. View with:  mlflow ui --port 5000